.container{

    padding-bottom: 20px;

   
    .title{
        text-align: center;
        padding-top: 10px;
    }
    .icons{
       
        display: flex;
        text-align: center;
        padding: 0 10px 10px 20px;
        
        
    }
   
}